$g-container: 1168px;

$font: 'Lato';

$c-main: #000000;
$c-bg: #272733;
$c-bg-1: #3D4050;
$c-bg-2: rgba(39, 39, 51, 0.9);;
$c-white: #FFF;
$c-gray: #C4C4C4;
$c-gray-1: #C3C3C3;
$c-base: #3E9CDC;
$c-base-1: #42A9ED;
$c-base-dark: #286690;