.order__form {
  display: grid;
  gap: 30px;

  @include _1024M {
    grid-template-columns: repeat(3, 1fr);
  }
  @include _576M {
    grid-template-columns: repeat(2, 1fr);
  }

  &-text {
    width: 100%;
  }

  &-range {
    display: grid;
    gap: 15px;
    @include _576M {
      grid-column: 1/3;
    }
  }

  &-range-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    @include _576M {
      grid-column: 1/-1;
    }
  }

  &-btn {
    @include _576M {
      min-width: 370px;
    }
    @include _576 {
      width: 100%;
    }
  }

}