.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background: rgba(16, 16, 29, 0.9);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }
  &__logo {
    @include _576 {
      width: 70%;
    }
  }

  &__nav {
    @include _1024 {
      position: absolute;
      display: grid;
      top: 100px;
      right: 0;
      background: rgba(16, 16, 29, 0.9);
      padding: 0 15px;
      width: 50%;
      height: 100vh;

      opacity: 0;
      transform: translateX(100%);
      transform-origin: right top;
    }
    @include _576 {
      width: 245px;
    }
  }

  &__nav-wrapper {
    display: flex;
    @include _1199M {
      gap: 60px;
    }

    @include _1024 {
      flex-direction: column;
    }
  }

  &__nav-item {
    @include _1199 {
      padding: 15px 0;
    }
    &::before {
      content: none;
    }
  }

  &__nav-link {
    color: $c-white;
  }
}