.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 183px;
  padding: 15px 31px;
  color: $c-white;
  background: $c-base;
  border: 1px solid $c-white;
  text-transform: uppercase;
  border-radius: 4px;
  transition: 300ms;
  @include _576 {
    width: 100%;
  }

  &:hover {
    color: $c-main;
    background: $c-white;
    border-color: $c-main;
  }

  &_color-white {
    color: $c-main;
    background: $c-white;
    border-color: $c-main;

    &:hover {
      color: $c-white;
      background: $c-base;
      border-color: $c-white;
    }
  }
}
